/* Warning: webpack merges all CSS files anyway */

.capt {
    font-size: 0.75rem;
    line-height: 1rem;
}

.invalid {
    color: red;
}

.close-modal {
    cursor: pointer;
    font-size: 22px;
    color: white;
}