.nav-menu {
    display: flex;
    justify-content: space-between;
    width: 100vw;
    height: 85px;
    padding: 20px;
    align-items: center;
    box-sizing: border-box;
}

.left-menu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.left-menu > * {
    margin-left: 20px;
    /* border: 2px solid green; */
    height: auto;
}

.right-menu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.right-menu > * {
    margin-left: 20px;
    font-family: 'Graphik Medium';
}

.logo {
    font-family: "Graphik Bold";
    font-size: 18pt;
}
.logo a {
    color: #f65858;
}

.logos {
    height: 24pt;
  }

#self-promo {
    display: flex;
}