.show-page-flex {
    padding-left: calc((100vw - 1080px) / 4);
    padding-right: calc((100vw - 1080px) / 4);
    display: flex;
    flex-direction: column;
    /* position: relative; */
}

.show-page-header {
    display: flex;
    flex-direction: row;
}

.show-page-header > * {
    padding: 20px;
    height: 378px;
}

#group-cover {
    width: 60%;
    background-size: contain;
    background-repeat: no-repeat;
}

#group-info {
    width: 40%;
}

.main-content {
    display: flex;
}

.group-menu {
    display: flex;

    padding-top: 15px;
    padding-bottom: 15px;
    border-top: 1px solid #7e7e7e;
    position: sticky;
    top: 2px;
    background-color: white;
}

#owner-logo {
    border-radius: 8px;
    color: #757575;
    font-family: "Graphik Medium";
    fill: #fff;
    background-color: #fff;
    border: 2px solid #9b9b9b;
    padding: 8px 12px;   
}

.gmr {
    justify-content: space-between;
}

.group-menu > span {
    padding-right: 30px;
}

.left-content {
    display: flex;
    flex-direction: column;
    width: 55%;
}

.left-main-content {
    padding-right: 60px;
}

.right-content {
    display: flex;
    flex-direction: column;
    width: 45%;

}

#edit-page {
    margin-top: 20px;
}

.group-description {
    margin: 25px; 
    margin-left: 0px; 
}

#change-photo-button {
    border-radius: 8px;
    width:fit-content;
    color: #757575;
    font-family: "Graphik Medium";
    fill: #fff;
    background-color: #fff;
    outline: 1px solid #9b9b9b;
    padding: 8px 12px;
    display: flex;
    gap: 10px;

    vertical-align: middle;
}

#change-photo-button > span {
    font-size: 12px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

#change-photo-button > * {
    padding: 5px;
}

#change-photo-button:hover {
    outline: 2px solid #757575;
}

#attach-new-photo {
    align-items: flex-start;
    padding: 15px;
    padding-top: 100px;
}

#attach-new-photo-close {
    left: var(--anp-size);
    top: var(--anp-size);
    color: rgba(46, 62, 72, 0.6);
    font-size: calc(1.25 * var(--anp-size));
    --anp-size: 24px;
}

.attach-new-photo-title {
    color: #2e3e48;
    line-height: 1.1;
    font-weight: 600;
    font-size: 1.5rem;
}

#add-photo-box {
    width: 100%;
    border: 1px dashed #9b9b9b;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    padding: 64px 0px;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

}

#upload-icon-container {
    font-size: 48px;
    font-weight: bold;
}

#attach-photo {
    opacity: 0;
}

h2 {
    font-family: "Graphik Medium";
    font-size: 36px;
}

#attach-photo-caption {
    text-align:center;
    font-family: 'Graphik Regular';
    font-size: 16px;
    color: black;
    padding-bottom: 20px;
}

#uploaded-group-cover-image {
    min-height: 140px;
}

#submit-group-photo {
    display: flex;
    justify-content:center;
    align-items:center;
    gap: 20px;
}

#submit-group-photo-button, #save-group-info-button {
    width: fit-content;
    padding: 10px;
    min-width: auto;
    display: inline;
    margin-right: 50px;
}

#group-edit-header {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    border-bottom: 1px solid #9b9b9b;
    padding: 10px;

}

#mini-grp-image {
    width: 200px;
    height: 100px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    box-sizing: border-box;
    /* margin: 10px; */

}

.mid-title {
    font-size: 36px;
    font-family: "Graphik Medium";
}

.edit-form-body {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

textarea {
    box-sizing: border-box;
    width: 100%;
    height: 256px;
}

.submit-edit-group {
    display: flex;
    justify-content:space-between;
}

.sub-labels {
    font-size: 14px;
    color: #6e6e6e;
    font-family: 'Graphik Regular';
}

.group-keywords, .group-members, .group-events {
    margin-bottom: 30px;
}

.group-keywords > ul {
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    align-items: center;
}

.group-keywords li {
    padding: 4px 16px;
    background-color: rgba(41, 77, 107, 0.12);
    margin: 8px;
}

.member-list {
    display: flex;
    flex-wrap: wrap;
}