.user-icon-container {
    width: max(8vw, 64px);
    height: max(8vw, 64px);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 5px 0px 5px;
}

.user-icon {
    font-size: 5vw;
    color: rgb(0, 130, 148);
}

.user-icon-caption {
    word-wrap: break-word;
    text-align: center;
    font-size: 12px;
    width: inherit;
}