.first-step {
    padding-bottom: 36px;
}

.new-group-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100vw;
    height: 45px;
    padding: 20px;
    align-items: center;
    box-sizing: border-box;
}

#new-group {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background-color: white;
    align-items: center;
}

#bottom-bar {
    padding: 10px 0px 10px 0px;
    position: fixed;
    bottom: 0px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.group-form-body {
    width: 50vw;
    margin-top: 30px;
    margin-bottom: 30px;
    border: 2px solid teal;
    display: flex;
    flex-direction: column;
    gap: 20px;

}

#location-field {
    font-size: 36px;
    display: block;
}

#location-field > * {
    font-size: 1rem;
}

#loc-form {
    display: none;
}

.kw-checkbox {
    display: inline-flex;
    box-sizing: border-box;
    border-radius: 10px;
    font-size: 20px;
    transition: background 0.15s;
    cursor: pointer;
    margin: 10px;
    border: 1px solid currentColor;
    justify-content: center;
    align-items: center;
    padding: 10px 20px 10px 20px;
}

.kw-unchecked {
    color: #0098ab;
    background-color: white;
}

.kw-checked {
    color: white;
    background-color: #0098ab;

}

.charsLeft {
    position: absolute;
    bottom: 8px;
    right: 8px;
    font-size: 12px;
    margin: 0;
}

.charsLeft-container {
    position: relative;
}

#grpName-caption {
    position: absolute;
    bottom: -20px;
}

#grp-description {
    box-sizing: border-box;
    width: inherit;
    height: 200px;
}