@import url(//db.onlinewebfonts.com/c/d20eb52d29d9f6d56c1c8fc0eefc560e?family=Graphik+Bold);
@import url(//db.onlinewebfonts.com/c/941f4a4b33c62f21dfdfbae776f7f3e0?family=Graphik+Regular);
@import url(//db.onlinewebfonts.com/c/a72ac9a3e9f75a5385a7a4f88baf5bd0?family=Graphik+Medium);

@font-face {font-family: "Graphik Bold"; src: url("//db.onlinewebfonts.com/t/d20eb52d29d9f6d56c1c8fc0eefc560e.eot"); src: url("//db.onlinewebfonts.com/t/d20eb52d29d9f6d56c1c8fc0eefc560e.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/d20eb52d29d9f6d56c1c8fc0eefc560e.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/d20eb52d29d9f6d56c1c8fc0eefc560e.woff") format("woff"), url("//db.onlinewebfonts.com/t/d20eb52d29d9f6d56c1c8fc0eefc560e.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/d20eb52d29d9f6d56c1c8fc0eefc560e.svg#Graphik Bold") format("svg"); }
@font-face {font-family: "Graphik Regular"; src: url("//db.onlinewebfonts.com/t/941f4a4b33c62f21dfdfbae776f7f3e0.eot"); src: url("//db.onlinewebfonts.com/t/941f4a4b33c62f21dfdfbae776f7f3e0.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/941f4a4b33c62f21dfdfbae776f7f3e0.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/941f4a4b33c62f21dfdfbae776f7f3e0.woff") format("woff"), url("//db.onlinewebfonts.com/t/941f4a4b33c62f21dfdfbae776f7f3e0.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/941f4a4b33c62f21dfdfbae776f7f3e0.svg#Graphik Regular") format("svg"); }
@font-face {font-family: "Graphik Medium"; src: url("//db.onlinewebfonts.com/t/a72ac9a3e9f75a5385a7a4f88baf5bd0.eot"); src: url("//db.onlinewebfonts.com/t/a72ac9a3e9f75a5385a7a4f88baf5bd0.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/a72ac9a3e9f75a5385a7a4f88baf5bd0.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/a72ac9a3e9f75a5385a7a4f88baf5bd0.woff") format("woff"), url("//db.onlinewebfonts.com/t/a72ac9a3e9f75a5385a7a4f88baf5bd0.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/a72ac9a3e9f75a5385a7a4f88baf5bd0.svg#Graphik Medium") format("svg"); }

h1 {
    margin-bottom: 8px;
    font-size: 1.5rem;
    font-family: 'Graphik Bold'
}
body { 
    font-family: Graphik Regular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica,Arial,sans-serif;
    height: 100%;
    position: relative;
}
html {
    height: 100%;
}

.error-console {
    position: fixed;
    width: 33%;
    top: 64px;
    left: 50vh;
    background-color: rgb(200, 0, 0);
    color: white;
    border-radius: 4px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.modal-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(80, 80, 80, 0.5);
    z-index: 1;
    display: flex;
    justify-content: center;
}
.modal {
    border: 2px solid black;
    background-color: white;
    width: 484px;
    height: 600px;
    position: absolute;
    top: 64px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    padding: 50px;
}

.close-icon {
    cursor: pointer;
    font-size: 22px;
    position: absolute;
    right: 11px;
    top: 11px;
    color: #181818;
}

input:not([type="checkbox"]) {
    display: block;
    box-sizing: border-box;
    width: 100%;
}

form {
    width: 100%;
}

a {
    text-decoration: none;
}

label {
    display: block;
    font-size: 16px;
    font-family: 'Graphik Medium';
    margin-bottom: 0.25rem;
    line-height: 24px;
    text-size-adjust: 100%;
    width: 100%;
}

form > div {
    display: block;
    margin-bottom: 2em;
}

.green-link {
    color: rgb(0, 130, 148);
    cursor: pointer;    
}

.standard-button, input[type="submit"] {
    border-radius: 8px;
    cursor: pointer;
    color: #fff;
    font-family: "Graphik Medium";
    fill: #fff;
    background-color: #f65858;
    border-color: #f65858;
    padding: 8px 12px;
}

.standard-button:disabled, input[type="submit"]:disabled {
    border-radius: 8px;
    cursor: pointer;
    color: #d9d9d9;
    font-family: "Graphik Medium";
    fill: #d9d9d9;    background-color: #a2a2a2;
    border-color: #a2a2a2;
    padding: 8px 12px;
}

button {
    text-rendering: auto;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
}

.font-title {
    font-size: 1.25rem;
    line-height: 24px;
    font-style: normal;
    font-family: 'Graphik Medium';
    letter-spacing: 0;
    box-sizing: border-box;
    border: 0 solid;
}
/* TODO Add site wide styles */
input:not([type="submit"]):not([type="checkbox"]), textarea {
    padding: 0.5rem 0.75rem 0.5rem 0.75rem;
    border-radius: 0.5rem;
    border: 0px;
    outline: 2px solid #e6e6e6;
}

input:not([type="submit"]):not([type="checkbox"]):hover, textarea:hover {
    outline: 2px solid rgb(117, 117, 117);
}

input:not([type="submit"]):not([type="checkbox"]):focus, textarea:focus {
    outline: 2px solid rgb(0, 130, 148);
}

input[type="checkbox"] {
    transform: scale(1.5);
    margin-right: 15px;
    accent-color:rgb(0, 130, 148);
}

.pre-heading {
    font-family: "Graphik Medium";
    text-transform: capitalize;
    color: #7a1d47;
    padding-bottom: 10px;
}