h1 {
    margin-bottom: 8px;
    font-size: 1.286rem
}
body { 
    font-family: Graphik Meetup,-apple-system,BlinkMacSystemFont,Roboto,Helvetica,Arial,sans-serif;
    height: 100%;
    position: relative;
}
html {
    height: 100%;
}

.modal-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(80, 80, 80, 0.5);
    z-index: 1;
    display: flex;
    justify-content: center;
}
.modal {
    border: 2px solid black;
    background-color: white;
    width: 484px;
    position: absolute;
    top: 64px;
}

.close-icon {
    cursor: pointer;
    font-size: 22px;
    position: absolute;
    right: 11px;
    top: 11px;
    color: #181818;
}
/* TODO Add site wide styles */
