.event-calendar {
    display: flex;
}

.event-results {
    width: 100%;
    padding-right: 20px;
    box-sizing: border-box;
}

.organized-groups, .member-of-groups, .other-groups {
    display: flex;
    flex-direction: column;
    gap: 3vw;
    justify-content: center;
    margin-bottom: 30px;
}

.home-feed {
    padding-left: calc((100vw - 1080px) / 4);
}
#calendar-container {
    display: flex;
    flex-direction: column;
    margin-right: 50px;
}    

@media screen and (max-width: 950px) {
    #calendar-container {
        display: none;
    }
    
    .home-feed {
        padding-left: 20px;
        padding-right: 20px;
    }
    
}
