#intro-row {
    display: flex;
    flex-direction: row;
    /* border: 2px solid green; */
    padding-top: 120px;
    padding-left: calc((100vw - 1080px) / 4);
    padding-right: calc((100vw - 1080px) / 4);
    gap: 5vw;

}

#intro-text {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50%;
    /* border: 2px solid green; */
    line-height: 1.25;
}

#intro-image {
    width: 50%;
    /* border: 2px solid red; */
    background-image: url(../../assets/online_events.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    
}

.event-calendar {
    display: flex;
}

.event-results {
    width: 100%;
    padding-right: 20px;
    box-sizing: border-box;
}

.organized-groups, .member-of-groups, .other-groups {
    display: flex;
    flex-direction: column;
    gap: 3vw;
    justify-content: center;
    margin-bottom: 30px;
}

.home-feed {
    padding-left: calc((100vw - 1080px) / 4);
}
#calendar-container {
    display: flex;
    flex-direction: column;
    margin-right: 50px;
}    

@media screen and (max-width: 950px) {
    #calendar-container {
        display: none;
    }
    
    .home-feed {
        padding-left: 20px;
        padding-right: 20px;
    }
    
}

@media screen and (max-width: 770px) {

    #intro-row {
        flex-direction: column-reverse;
        /* border: 2px solid green; */
        padding-top: 0px;
        padding-left: 20px;
        padding-right: 20px;
        gap: 5vw;
    }

    #intro-image {
        width: 100%;
        height: 20vh;
    }

    #intro-text {
        width: 100%;
    }
}