$assets-path: "../../assets";
$width: max(250px, 25vw);
$height: max(150px, 15vw);

@mixin background-images($w, $h) {
    background-size: contain;
    background-repeat: no-repeat;
    width: $w;
    height: $h;
    background-repeat: no-repeat;
    background-position: center;
    box-sizing: border-box;
}

.null-results-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    

    .null-image {
        @include background-images($width, $height);
        background-image: url("#{$assets-path}/emptyResultsIcon.svg");
        // margin-left: calc((100% - $width) / 2);
        // margin-right: calc((100% - $width) / 2);
        margin-top: calc((100vh - $height - 20px - 1.25rem) / 2);
        margin-bottom: 20px;
    }
    

    .null-description {
        font-family: "Graphik Medium";
        font-size: 1.25rem;
    }
    
}